In [54]:
import numpy as np
import pandas as pd
import datetime as dt

In [22]:
df = np.load('y_34_20_120_1980_timestamps.npy', allow_pickle=True)
# stat = df.copy()
df.shape

(2661, 120, 27)

In [24]:
#reshape df 
temp = df.reshape(-1,27)
df1= pd.DataFrame(temp)
df1.head()

,0,1,2,3,4,5,6,7,8,9,...,17,18,19,20,21,22,23,24,25,26
0,1980003S15137,1980-01-07 03:00:00,-22.0433,150.161,35,993.5,30,24,115,0.992749,...,1,0,0,0,0,0,0,1,0,0
1,1980003S15137,1980-01-07 06:00:00,-22.5527,151.373,40,992,61,24,114,0.992749,...,1,0,0,0,0,0,0,1,-0.5094,1.212
2,1980003S15137,1980-01-07 09:00:00,-23.0214,152.554,40,992.5,147,23,115,0.992749,...,1,0,0,0,0,0,0,1,-0.4687,1.181
3,1980003S15137,1980-01-07 12:00:00,-23.5,153.6,40,993,148,20,120,0.992749,...,1,0,0,0,0,0,0,1,-0.4786,1.046
4,1980003S15137,1980-01-07 15:00:00,-23.9979,154.399,42.5,991,142,17,128,0.992749,...,1,0,0,0,0,0,0,1,-0.4979,0.799

In [39]:
#convert column to date time
pd.to_datetime(df1.loc[df1[1]!=0][1])

0        1980-01-07 03:00:00
1        1980-01-07 06:00:00
2        1980-01-07 09:00:00
3        1980-01-07 12:00:00
4        1980-01-07 15:00:00
                 ...
319228   2020-06-24 00:00:00
319229   2020-06-24 03:00:00
319230   2020-06-24 06:00:00
319231   2020-06-24 09:00:00
319232   2020-06-24 12:00:00
Name: 1, Length: 174080, dtype: datetime64[ns]

In [192]:
# pd.DataFrame(df)
storm = 1
temp = df[storm,:,:]
temp = pd.DataFrame(temp)
# pd.to_datetime(temp[1], format='%Y-%m-%d %H:%M:%S')
temp[1]

0      1980-01-05 12:00:00
1      1980-01-05 15:00:00
2      1980-01-05 18:00:00
3      1980-01-05 21:00:00
4      1980-01-06 00:00:00
5      1980-01-06 03:00:00
6      1980-01-06 06:00:00
7      1980-01-06 09:00:00
8      1980-01-06 12:00:00
9      1980-01-06 15:00:00
10     1980-01-06 18:00:00
11     1980-01-06 21:00:00
12     1980-01-07 00:00:00
13     1980-01-07 03:00:00
14     1980-01-07 06:00:00
15     1980-01-07 09:00:00
16     1980-01-07 12:00:00
17     1980-01-07 15:00:00
18     1980-01-07 18:00:00
19     1980-01-07 21:00:00
20     1980-01-08 00:00:00
21     1980-01-08 03:00:00
22     1980-01-08 06:00:00
23     1980-01-08 09:00:00
24     1980-01-08 12:00:00
25     1980-01-08 15:00:00
26     1980-01-08 18:00:00
27     1980-01-08 21:00:00
28     1980-01-09 00:00:00
29     1980-01-09 03:00:00
              ...
90                       0
91                       0
92                       0
93                       0
94                       0
95                       0
96                       0
97                       0
98                       0
99                       0
100                      0
101                      0
102                      0
103                      0
104                      0
105                      0
106                      0
107                      0
108                      0
109                      0
110                      0
111                      0
112                      0
113                      0
114                      0
115                      0
116                      0
117                      0
118                      0
119                      0
Name: 1, Length: 120, dtype: object

In [40]:
df = pd.read_csv('1989-present_OFCL_v_BCD5_ind_EPAC_TI_errors.txt', sep="\t", header=None)

In [41]:
df = df[0].str.split(expand=True)
df.columns = df.iloc[0]
#drop header row
df= df.iloc[1:]
forecast = df.copy()

In [44]:
forecast['datetime'] = pd.to_datetime(forecast['Date/Time'])

In [82]:
# forecast.set_index('datetime', inplace=True)
# forecast[dt.datetime(2016,10,7,0)]
forecast['2018-10-06 18:00:00'][['Lat','Lon','000hT01','012hT01','024hT01']]
# forecast['000hT01']
# forecast.iloc[100]
# forecast.columns

0                     Lat    Lon 000hT01 012hT01  024hT01
datetime
2018-10-06 18:00:00  16.5  115.4     0.0    18.9  -9999.0
2018-10-06 18:00:00  15.1  103.8     0.0    29.2     42.0